<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="{{ "/css/main.css" | relative_url }}">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/resources">Class Resources</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:ozanj@ucla.edu">Professor's email</a></li>
   <li><a href="mailto:pmarti@g.ucla.edu">TA's email</a></li>
   <li><a href="https://piazza.com/ucla/fall2018/educ263/home">piazza.com</a></li>
   </ul>
  </footer>
  </body>

</html>
